<h1>List of Products</h1>

<ul class="collection">
  <%= for product <- @products do %>
    <li class="collection-item">
      <%= product.title %>
    </li>
  <% end %>
</ul>


<div class="fixed-action-btn">
  <%= if @conn.assigns[:user] && @conn.assigns.user.role == "DESIGNER" do %>
    <%= link to: product_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">add</i>
    <% end %>
  <% end %>
</div>
